﻿@model PassionProjectMVP.Models.ViewModels.UpdateMedicalProcedure

@{
    ViewBag.Title = "Edit";
}

<h2>Update Medical Procedure</h2>
<form action="/MedicalProcedure/Update/@Model.SelectedMedicalProcedure.MedicalProcedureID" method="POST">
    <div style="display:none;">
        @* Pass through the medicalprocedure ID *@
        <input type="text" name="MedicalProcedureID" value="@Model.SelectedMedicalProcedure.MedicalProcedureID" />
    </div>
    <div>
        <label>Medical Procedure Name:</label> <input type="text" name="MedicalProcedureName" value="@Model.SelectedMedicalProcedure.MedicalProcedureName" />
    </div>
    <div>
        <label>Medical Center:</label> <input type="text" name="MedicalCenter" value="@Model.SelectedMedicalProcedure.MedicalCenter" />
    </div>
    <div>
        <label>Medical Procedure Date:</label> <input type="datetime" name="MedicalProcedureDate" value="@Model.SelectedMedicalProcedure.MedicalProcedureDate" />
    </div>
    <div>
        <input type="submit" value="Update MedicalProcedure" />

    </div>
</form>