
@{
    ViewBag.Title = "Create";
}

<h2>Create MedicalProcedure</h2>
<form action="/MedicalProcedure/Create" method="POST">
    <div>
        <label>Medical Procedure Name:</label><input type="text" name="MedicalProcedureName" />
    </div>
    <div>
        <label>Medical Center:</label><input type="text" name="MedicalCenter" />
    </div>
    <div>
        <label>Medical Procedure Date:</label><input type="datetime" name="MedicalProcedureDate" />
    </div>

</form>

