@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Patients List</h2>
            <p>
                Click in the button to see a list of Patients
            </p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44326/Patient/list">Patients List &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Doctors List</h2>
            <p>Click in the button to see a list of Doctors</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44326/Doctor/list">Doctors List &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Medical Procedures</h2>
            <p>Click in the button to see a list of Medical Procedures</p>
            <p><a class="btn btn-outline-dark" href="https://localhost:44326/MedicalProcedure/list">Medical Procedure &raquo;</a></p>
        </section>
    </div>
</main>