﻿@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="col">
        <div class="row home">
  
                <div class="card" style="width: 18rem;">
                    <i class="fa-solid fa-user"></i>
                    <div class="card-body">
                        <h5 class="card-title">Patients</h5>
                        <p class="card-text">Manage patient records, including personal details, medical history, and appointments.</p>
                        <a href="https://localhost:44376/patient/list" class="btn btn-primary">Patients ></a>
                    </div>
                </div>
 
                <div class="card" style="width: 18rem;">
                    <i class="fa-solid fa-stethoscope"></i>
                    <div class="card-body">
                        <h5 class="card-title">Doctors</h5>
                        <p class="card-text">View and update information about healthcare professionals, their specialties, and schedules.</p>
                        <a href="https://localhost:44376/doctor/list" class="btn btn-primary">Doctors ></a>
                    </div>
                </div>
 
                <div class="card" style="width: 18rem;">
                    <i class="fa-solid fa-suitcase-medical"></i>
                    <div class="card-body">
                        <h5 class="card-title">Medical Procedures</h5>
                        <p class="card-text">Maintain a database of medical procedures, including descriptions, associated doctors, and scheduling information.</p>
                        <a href="https://localhost:44376/medicalprocedure/list" class="btn btn-primary">Medical Procedures ></a>
                    </div>
                </div>
    
        </div>
    </div>
</main>